<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="forgot.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="hifilogo.png" alt="Logo">
        </div>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="signin.html">Sign In</a>
            <a href="signup.html">Sign Up</a>
            <a href="#">Contact</a>
        </div>
    </nav>
    <div class="main-section">
        <div class="background-image"></div>
        <div class="container">
            <div class="forgot-password">
                <h2>Forgot Password ?</h2>
                <p>Please enter your registered Phone No/Email for verification</p>
                <form>
                    <label for="input">Phone Number or E-Mail</label>
                    <input type="text" id="input" placeholder="8809845679" required>
                    <button type="submit" class="next-btn">Next</button>
                </form>
                <div class="social-login">
                    <p>Or Continue with</p>
                    <div class="icons">
                        <img src="google.jpg" alt="Google">
                        <img src="facebook.png" alt="Facebook">
                        <img src="twitter.png" alt="Twitter">
                        
                    </div>
                </div>
            </div>
            <div class="image-section">
                <img src="pancakes.jpg" alt="Pancakes">
            </div>
        </div>
    </div>
</body>
</html>
