<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="signin.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-logo">
            <img src="hifilogo.png" alt="Logo">
        </div>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="signup.html">Sign Up</a>
            <a href="#">Contact</a>
        </div>
    </nav>

    <!-- Main Section -->
    <div class="main-section">

        <!-- Container -->
        <div class="container">
            <!-- Left Section -->
            <div class="left-section">
                <p>Welcome to Hifi Delivery Eats</p>
                <h1>Sign In</h1>
                <form>
                    <label for="phone-email">E-mail</label>
                    <input type="text" id="phone-email" placeholder="abc@gmail.com" required>
                    <label for="password">Password</label>
                    <input type="password" id="password">
                    <button class="btn">Next</button>
                </form>
                <div class="link">
                    <p id="para">Don't have an account?  <a href="signup.html" class="link">Sign Up</a>
                    <a href="forgot.html">Forgot Password?</a></p>
                </div>
                <div class="social-icons">
                    <p>or continue with</p>
                    <div class="icons">
                        <img src="facebook.png" alt="Facebook">
                        <img src="twitter.png" alt="Twitter">
                        <img src="google.jpg" alt="Google">
                    </div>
                </div>
            </div>

            <!-- Right Section -->
            <div class="right-section">
                <img src="pancakes.jpg" alt="Pancakes">
            </div>
        </div>
    </div>
    <script src="signinjs.js"></script>
</body>
</html>
